.banner {
    height: 172px;
    padding-bottom: 27px;
}
.container {
    padding-left: 6%;
    padding-right: 6%;
}

@media (max-width: 767px) {
    /* Styles for screens smaller than 768px (mobile devices) */
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    canvas {
        height: 303px !important;
    }
    li {
        display: block;
        font-size: 2em;
        margin-right: 0px; /* Adjust the spacing between items */
      }
}

.ul {
    list-style-type: none;
    padding: 0;
    list-style: none;
  }
  
li {
    display: inline;
    font-size: 2em;
    margin-right: 2em; /* Adjust the spacing between items */
  }